

<h1>
    Dev Lab November 
</h1>
<h2> Hello there, <%=userName%> </h2> 


<p> 
My name is <b>Alex</b> <br>
I am an eneagram type 3. More on type 3 below:
<h3>https://www.enneagraminstitute.com/type-3</h3>
On Github @astricklandd.
This repo is saved in dev-november-
</p>

<!-- TODO: create issue, all update this page -->


<form method="post" action="/saveToNode">
    <label>do that data!</label>
    <input type="text" name="userName">
    <input type="submit" value="send to node via express">
</form>